<main>
  <section id="login-box">
      <h2>Registro de usuario</h2>
      <label>Nombre de usuario</label>
      <input type="text" id="username"/>
      <label>Nombre</label>
      <input type="text" id="name"/>
      <label>Email</label>
      <input type="text" id="email"/>
      <label>Contraseña</label>
      <input type="password" id="password" placeholder="Ingrese contraseña"/>
      <label>Repita contraseña</label>
      <input type="password" id="retype-password" placeholder="Ingrese contraseña"/>
      <a onclick="registry()" class="primary">Crear</a>
      <a href="index.html" class="secondary">Regresar</a>
  </section>
</main>
<footer>
  <i class="fa-brands fa-instagram"></i>
  <i class="fa-brands fa-whatsapp"></i>
  <i class="fa-brands fa-x-twitter"></i>
  <i class="fa-brands fa-facebook"></i>
</footer>
